
<div class="flex justify-center flex-col md:flex-row">
<div class="text-7xl">{{calculation?.firstDigit}} {{calculation?.operator}} {{calculation?.secondDigit}} =</div>
 <mat-form-field>
  <mat-label>Enter the result</mat-label>
  <input matInput placeholder="" [formControl]="resultControl" required appearance="outline">
   <button mat-icon-button matSuffix (click)="check()" >
     <mat-icon>start</mat-icon>
   </button>
  @if (resultControl.invalid) {
  <mat-error>Error</mat-error>
  }
</mat-form-field>

</div>

<div class="flex justify-center gap-1">
  @for (result of results; track result.index) {
    <div class="dot rounded-full" [class.bg-red-500]="!result.result" [class.bg-green-500]="result.result"></div>
  }

</div>

