<div class="flex justify-center flex-col md:flex-row">
  <div class="text-5xl text-center">
    {{ calculation.firstDigit }} {{ getOperationSymbol() }}
    {{ calculation.secondDigit }} = {{ result }}
  </div>
</div>
<mat-progress-bar
  mode="determinate"
  [value]="progress"
  class="my-4"
></mat-progress-bar>
<div class="grid grid-cols-11 justify-center gap-1 mt-2 gap-y-2">
  @for (result of results; track result.index) {
    <div
      class="dot rounded-full"
      [class.bg-red-500]="!result.result"
      [class.bg-green-500]="result.result"
    ></div>
  }
</div>
<club99-num-pad
  (numberTapped)="addToResult($event)"
  (clear)="result = 0"
  (delete)="deleteDigit()"
  (submitted)="check()"
></club99-num-pad>
