
<main>
  <div class="container mx-auto h-screen flex flex-col justify-center items-center">
    @if(calculations.length){
    <mat-card class="min-w-96">
    <mat-card-content>
    <div class="flex justify-between items-center">
  <button mat-icon-button color="primary" (click)="reset(true)"><mat-icon>chevron_left</mat-icon></button>
  <app-countdown (duration)="setCurrentDuration($event)"></app-countdown>
  <div class="text-slate-600">{{outOf()}}</div>
</div>

      <app-calculator [calculation]="calculations[index]" [results]="results" [outOf]="outOf()" (nextCalculation)="addResult($event)" (cancel)="reset($event)" [progress]="progress" ></app-calculator>
      </mat-card-content>
    </mat-card>
    }@else if(!calculations.length && results.length){
      <app-results [results]="results" (back)="reset($event)"></app-results>
    }
    @else {
    <h2>Random Calulations</h2>
    <div class="flex  gap-4 mb-8">
      <button mat-raised-button color="primary" (click)="restart('addition')">Start +</button>
      <button mat-raised-button color="primary" (click)="restart('subtraction')">Start -</button>
      <button mat-raised-button color="primary" (click)="restart('multiplication')">Start ×</button>
      <button mat-raised-button color="primary" (click)="restart('division')" disabled>Start ÷</button>
    </div>
    <h2>Club 99</h2>
    <div class="grid grid-cols-3 mt-4 gap-4">
      @for(clubIndex of club; track clubIndex){
        <button mat-raised-button color="primary" (click)="startClub(clubIndex)">{{clubIndex}} Club</button>
      }
    </div>
    }
  </div>
</main>
<router-outlet />
