<p>math-tables works!</p>
<mat-card>
  <mat-card-header>
    <mat-card-title>Math Tables</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="grid grid-cols-3 mt-4 gap-4">
      @for (mathIndex of mathTables; track mathIndex) {
        <button
          mat-raised-button
          color="primary"
          (click)="
            startMathTable({ index: mathIndex, random: randomMath })
          "
        >
          {{ mathIndex }}
        </button>
      }
    </div>
    <mat-slide-toggle [(ngModel)]="randomMath" class="mt-4"
    >Random</mat-slide-toggle
    >
  </mat-card-content>
</mat-card>
